<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <img src="../../assets/img/deco.jpg" class="rounded-circle" style="margin-left: 12px; width: 20%;height: 220px;" alt="">
        <div class="d-flex container">
        <div class="card text-left w-25">
          <img class="card-img-top" src="holder.js/100px180/" alt="">
          <div class="card-body">
            <h4 class="card-title bg-info text-center">Skills </h4>
           <ul>
            <li>Angular</li>
            <li>React native</li>
            <li>Php</li>
            <li>Bootstrap</li>
            <li>node js</li>
            <li>Mysql</li>
            <li>Mongo db</li>
           </ul>
          </div>

          
        </div>
        <div class="card text-left w-75">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">Description</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quo officiis libero maiores nobis recusandae et nihil, fuga numquam amet omnis 
                eos expedita impedit ad, animi excepturi voluptate nulla dolorum obcaecati deleniti 
                optio quod, iste consequuntur! Tempore ipsa iusto corporis ut corrupti temporibus harum 
                nobis tempora id! Nesciunt consequatur similique nisi doloremque nulla ullam sit cum quam
                 vitae est vel, sint eos illo repudiandae voluptas repellat recusandae enim non tenetur
                  atque porro ut hic. Incidunt quis, necessitatibus facere ratione possimus perferendis quos
                   iste expedita, ducimus explicabo doloremque. Voluptate ad debitis consectetur beatae sapiente 
                fugit iure! Aut veniam exercitationem architecto nostrum amet?
            
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Quo officiis libero maiores nobis recusandae et nihil, fuga numquam amet omnis 
                eos expedita impedit ad, animi excepturi voluptate nulla dolorum obcaecati deleniti 
                optio quod, iste consequuntur! Tempore ipsa iusto corporis ut corrupti temporibus harum 
                nobis tempora id! Nesciunt consequatur similique nisi doloremque nulla ullam sit cum quam
                 vitae est vel, sint eos illo repudiandae voluptas repellat recusandae enim non tenetur
                  atque porro ut hic. Incidunt quis, necessitatibus facere ratione possimus perferendis quos
                   iste expedita, ducimus explicabo doloremque. Voluptate ad debitis consectetur beatae sapiente 
                fugit iure! Aut veniam exercitationem architecto nostrum amet?
            
            
            </p>
            </div>
  
            
          </div>
        
        </div>
    </div>
</body>
</html>
