<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content" style="margin-top: 12%;">
    <table class="table table-bordered  table-responsive container w-75 m">
        <thead class="thead-inverse">
            <tr>
            <nav class="nav nav-tabs nav-stacked">
                <a class="nav-link active" href="#">Products</a>
                <a class="nav-link" href="#">Category </a>
               
            </nav>
            </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure3.webp" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure5.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>

                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
            </tbody>
    </table>
</div>
</body>
</html>