<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card text-left  " style="height: 500px;">
        <img class="card-img-top" src="holder.js/100px180/" alt="">
        <div class="card-body">
          
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block "  style="height: 480px; width:100%" src="../../assets/img/chaussure.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block "  style="height: 480px; width:160%" src="../../assets/img/chaussure2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block "   style="height: 480px;width:160%"src="../../assets/img/chaussure3.webp" alt="Third slide">
                </div>
              </div>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum ad suscipit laboriosam voluptates accusamus nemo sit nam quos id magni, commodi nesciunt a expedita repudiandae non iure, porro sapiente officia temporibus repellat? Eligendi, quam sed quae quisquam exercitationem quasi necessitatibus.
               Saepe officiis eum consequuntur qui minus iste tenetur, excepturi dignissimos.
               Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, recusandae. Ratione vel eaque rem.
                A dolore cupiditate odio qui repellat, velit dolorem accusamus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet accusamus incidunt et beatae laborum omnis ex optio dignissimos maiores! Rerum accusamus ipsam quis, nesciunt similique eaque molestiae cupiditate iure eveniet, cum minima modi perferendis saepe totam natus numquam reiciendis accusantium commodi illum? Sunt porro in nemo ab non sed consequuntur amet excepturi accusantium ex. Consectetur molestiae ullam recusandae possimus explicabo error sint voluptatem quia, saepe nisi sequi architecto non beatae. Rerum obcaecati molestiae veniam commodi quia facere, maxime temporibus nesciunt error quam, consectetur tenetur dignissimos dolores magnam eveniet saepe ex suscipit! 
                Explicabo modi beatae ab sequi soluta porro at?
            </p>
          
      
           <nav  class="nav justify-content-center mt-5 ">
             <a class="nav-link active" href="#">Shopping</a>
             <a class="nav-link" href="#">Make sponsor</a>
             <a class="nav-link "routerLink="/contacter">Contact-us </a>
           </nav>
      
      
        </div>
      </div>

<!--  -->
<div class="content" id="Products" style="margin-top: 20%;">
    <table class="table table-bordered  table-responsive container w-75 m">
        <thead class="thead-inverse">
            <tr>
            <nav class="nav nav-tabs nav-stacked">
                <a class="nav-link active" href="#">Products</a>
                <a class="nav-link" href="#">Category </a>
               
            </nav>
            </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/chaussure.jpg" style="height: 350px;width: 230px" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure3.webp" style="height: 350px;width: 230px;" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure5.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/chaussure2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>

                <tr>
                    
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy1.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                    <td>
                        <img src="../../assets/img/jersy2.jpg" alt="" srcset="">
                    </td>
                </tr>
            </tbody>
    </table>

    <p class="container">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tempore saepe impedit expedita earum, corrupti officiis ea aliquam, reprehenderit ex facere perspiciatis. Odit, praesentium nam at consectetur, accusantium, eius atque maiores fuga temporibus optio quas quae porro quod dolor amet. Nam, et accusantium veritatis rem veniam, delectus, quae fuga consequatur dolores natus quos? Cupiditate facilis blanditiis recusandae temporibus magnam quasi aliquid, voluptatum et impedit quos explicabo autem est eveniet. Necessitatibus voluptatum sunt iure sint obcaecati numquam tenetur doloribus dolor alias minus molestias nulla quo, repellendus unde distinctio quia? Quis perspiciatis, quas voluptatibus pariatur eaque officiis, aliquam voluptas officia nemo quisquam nam. Temporibus totam reiciendis ullam aspernatur. Officia itaque et, eaque quo, 
        architecto earum reprehenderit commodi dolore, deserunt ducimus sequi voluptas.
       
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum mollitia, 
        sequi pariatur necessitatibus, tempora debitis quaerat molestiae doloribus sapiente saepe,
         adipisci ipsam voluptas doloremque voluptatibus? Quaerat, ab distinctio reprehenderit officiis similique dolor magni odit, quisquam, quis placeat fuga. Dolores vitae aut recusandae, eveniet nam non quo, esse minus, rem laudantium accusamus corrupti ea. Ut ad quia, similique doloremque animi repudiandae eius deleniti laboriosam illum eligendi repellat quod sunt autem? Totam maxime neque quam magni odio sint nihil a at, beatae hic mollitia necessitatibus eius voluptatum illo similique ducimus rem. Tempora dignissimos delectus ex ratione qui fugiat reiciendis animi rerum velit aut blanditiis voluptate, eveniet laborum perferendis quidem. Odit molestias dolore ullam ab. Minus, dolores optio id provident sint velit illum.
    
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima itaque dolorum harum laboriosam incidunt voluptatem velit! Minima hic repellat esse, autem repudiandae voluptatibus nisi vero odio nesciunt et cumque possimus ex nulla quidem placeat impedit nemo nihil, ab corporis laborum? Necessitatibus soluta laudantium exercitationem accusamus ut culpa sint ratione eius debitis facilis repellat commodi quibusdam quos vero, earum tenetur neque excepturi. Dolores nobis accusantium dolore fugit sapiente aspernatur, ea temporibus odio, impedit veritatis nam expedita debitis corrupti facere iusto cum recusandae! Blanditiis, excepturi quos ut alias quia omnis ratione asperiores error possimus non numquam itaque dignissimos assumenda quod molestiae est cum deserunt? Ut, natus. Eaque fugiat necessitatibus, minus quod iste nesciunt doloribus repellendus adipisci rem dolor odit atque laborum aut.
    
        </p>
</div>


<div class="card container mt-5 bg-light" id="trading">
    <div class="card-header">
    
        <nav class="nav nav-tabs nav-stacked">
            <a class="nav-link active" href="#">Active link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#">Disabled link</a>
        </nav>
           </div>
  <img class="card-img" src="holder.js/100x180/" alt="">
  <div class="card-img-overlay">
    <div class="d-flex mt-5 ">
        <div class="card text-left">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <img src="../../assets/img/chaussure3.webp" style="width: 400px;" alt="" srcset="">
              <p class="card-text">
                
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolores odio adipisci sed, quia pariatur veniam vitae, fugit libero, obcaecati doloremque tempore. Voluptates cumque quis minima eius tempora delectus quidem.
              </p>
              <button class="btn btn-primary">red more</button>
            </div>
          </div>  <div class="card text-left">
            <img class="card-img-top" src="holder.js/100px180/"   alt="">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <img src="../../assets/img/chaussure3.webp"  style="width: 400px;" alt="" srcset="">

              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolores odio adipisci sed, quia pariatur veniam vitae, fugit libero, obcaecati doloremque tempore. Voluptates cumque quis minima eius tempora delectus quidem.
              </p>
              <button class="btn btn-primary">red more</button>
            </div>
          </div>  <div class="card text-left">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <img src="../../assets/img/chaussure3.webp"  style="width: 400px;" alt="" srcset="">

              <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dolores odio adipisci sed, quia pariatur veniam vitae, fugit libero, obcaecati doloremque tempore. Voluptates cumque quis minima eius tempora delectus quidem.
              </p>
              <button class="btn btn-primary ">red more</button>
            </div>
          </div>
        </div>

        
        
        <nav class="nav justify-content-center mt-5">
            <a class="nav-link active" href="#">Burundi/Bujumbura </a>
            <a class="nav-link active" href="#">Terms </a>
            <a class="nav-link active" href="#">Privacy</a>
            <a class="nav-link" href="#">Parteners</a>
            <a class="nav-link disabled" href="#">Copy right 3-march-2023</a>
          </nav>


   
  </div>
</div>







</body>
</html>
